<div class="viewDetail">

  
  <div class="container" *ngIf="product">
    <div>
      <img class="imgProduct" [src]="product.image">
    </div>
    <div class="infoProduct">
      <h2>{{ product.title }}</h2>
      <p>{{ product.category}}</p>
      <p>{{ product.description }}</p>
      <p appPinkBackground> € {{product.price}} </p>
      <app-star-rating [rating]="product.rating.rate"></app-star-rating>
      <app-button-go-back></app-button-go-back>
      

      
  
    </div>
    </div>
</div>


  