.card{
    width: 300px;
    height: 400px;
    display: grid;
    place-content: center;
    margin: 10px;
    text-align: center;
    background-color: aquamarine;
    
    img{
        object-fit: cover;
        height: 200px ;
        justify-self: center;
    }
}